.navbar {
    background-color: #1e1e2f;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
    
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap:150px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #00ffcc;
  }